docker==4.1.0
dockerpty==0.4.1
docutils==0.16
entrypoints==0.3
importlib-metadata==6.0.0
kaggle
lockfile==0.12.2
pandas
pathlib2==2.3.7.post1
psycopg2-binary==2.9.9
SQLAlchemy==2.0.21
virtualenv==20.24.5